<div class="container">
  <div class="header row align-items-center">
    <div class="col-3 m-0"><img src="../assets/Images/logoUv.png" alt="" width="150px" height="70px"></div>
    <div class="col-5 m-0"></div>
    <div class="col-4 m-0">
        <div class="row navBar">
            <!-- <div class="col-sm-6 col-md-6 col-lg-3 p-0"><a href="" class="m-0">Inicio</a></div>
            <div class="col-sm-6 col-md-6 col-lg-3 p-0"><a href="" class="m-0">Sobre mi</a></div>
            <div class="col-sm-6 col-md-6 col-lg-3 p-0"><a href="" class="m-0">Proyectos</a></div>
            <div class="col-sm-6 col-md-6 col-lg-3 p-0"><a href="" class="m-0">Contacto</a></div> -->
        </div>
    </div>
</div>
  <div class="row">
    <div class="col-12 text-center">
      <h2 class=" mt-3 mb-4">Generador de ID</h2>
      <button class="border-0 rounded generateButton px-4" (click)="getRandomArbitrary(1,10)">Generar</button>
      <h3 *ngIf="newId !== 0" class="my-3">Tu ID es: <span>{{newId}}</span></h3>
      <h5 *ngIf="status === false">El ID generado ya existe, genera otro ID</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div  *ngFor="let item of Participantes" id="list">{{item.id_generado}}</div>
    </div>
  </div>
</div>
